body {
	background-image: url(/img/notebook.jpg);
}

h1 {
	text-align: center;
	font-size: 4em;
	color: white;
	text-shadow: 3px 3px 0px #000;
}


#container {
	display: inline;
}

#nameBright {
	color: white;
}

#modalButton {
	display: block;
	margin: 0 auto;
}

.wrapper {
	text-align: center;
}


