body {
	background-image: url(/img/more-waves.jpeg);
	background-size: cover;
}

#projects {
	color: #006080;
	text-align: center;
	font-size: 4em;
	font-family: verdana;
	text-shadow: 3px 3px 3px #fff;
}

h2 {
	color: white;
	text-shadow: 3px 3px 3px #000;
}